html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}

/* colors */
.button-primary {
  padding: 1rem 2rem;
  border-radius: 1.6rem;
  background-color: #344DA8;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.button-primary:hover {
  background-color: #5370D4;
}

.button-secondary {
  padding: 1rem 2rem;
  border-radius: 1.6rem;
  background-color: #FFFFFF;
  color: #344DA8;
  border: 1px solid #344DA8;
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.button-secondary:hover {
  background-color: #5370D4;
  border-color: #5370D4;
  color: #FFFFFF;
}

.input {
  padding: 1rem;
  border: 1px solid #2A2B2E;
  border-radius: 1rem;
  font-family: "Raleway", sans-serif;
  background-color: #FFFFFF;
}

.input::placeholder {
  font-weight: 700;
  font-size: 1rem;
  color: #2A2B2E;
}

.full-header {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.header {
  max-width: 1440px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*menu*/
}

.header .logo-header {
  width: 140px;
}

.header #navigation {
  transition: 300ms ease;
}

.header .nav {
  position: absolute;
  top: 100%;
  left: 100%;
  width: 100%;
}

.header .nav .list-nav {
  list-style: none;
  padding: 1.5rem;
  margin-bottom: 0;
  margin-top: 0;
}

.header .nav .list-nav .item-list {
  margin-bottom: 8px;
}

.header .nav .list-nav .item-list a {
  text-decoration: none;
  color: #2A2B2E;
}

.header .nav .list-nav .item-list a:hover {
  font-weight: 700;
  color: #5370D4;
}

.header .nav .list-nav .item-list:last-child {
  margin-bottom: 0;
}

.header .nav-header {
  background-color: #FFFFFF;
  top: 100%;
  left: 0;
  width: 100%;
}

.header .fas {
  font-size: 20px;
  color: #5370D4;
}

@media screen and (min-width: 992px) {
  .header .logo-header {
    width: 230px;
  }
  .header .nav {
    position: static;
    width: initial;
  }
  .header .nav .list-nav {
    display: flex;
    padding: 0;
  }
  .header .nav .list-nav .item-list {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .header .fas {
    display: none;
  }
}

.footer {
  padding-bottom: 50px;
}

.footer .logo-footer {
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.footer .nav-footer .list-nav-footer {
  margin-bottom: 0;
  margin-top: 0;
  list-style: none;
  padding: 0 1.5rem;
}

.footer .nav-footer .list-nav-footer .item-list-footer {
  margin-bottom: 0.5rem;
}

.footer .nav-footer .list-nav-footer .item-list-footer a {
  font-weight: 700;
  text-decoration: none;
  color: #505156;
}

.footer .nav-footer .list-nav-footer .item-list-footer a:hover {
  color: #5370D4;
}

@media screen and (min-width: 576px) {
  .footer .nav-footer .list-nav-footer {
    display: flex;
    justify-content: center;
  }
  .footer .nav-footer .list-nav-footer .item-list-footer {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.hero {
  margin-top: 56px;
  height: 100px;
  background-color: #5370D4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .title-hero {
  color: #FFFFFF;
  font-size: 24px;
}

@media screen and (min-width: 992px) {
  .hero {
    margin-top: 84px;
    height: 200px;
  }
  .hero .title-hero {
    font-size: 32px;
  }
}

.container-center {
  max-width: 1196px;
  margin-left: auto;
  margin-right: auto;
}

.heading.regular {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: #505156;
}

.heading.regular .heading-1 {
  font-weight: 400;
  font-size: 60px;
}

.heading.regular .heading-2 {
  font-weight: 400;
  font-size: 48px;
}

.heading.regular .heading-3 {
  font-weight: 400;
  font-size: 32px;
}

.heading.regular .heading-4 {
  font-weight: 400;
  font-size: 24px;
}

.heading.regular .heading-5 {
  font-weight: 400;
  font-size: 18px;
}

.heading.bold {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: #505156;
}

.heading.bold .heading-1 {
  font-weight: 700;
  font-size: 60px;
}

.heading.bold .heading-2 {
  font-weight: 700;
  font-size: 48px;
}

.heading.bold .heading-3 {
  font-weight: 700;
  font-size: 32px;
}

.heading.bold .heading-4 {
  font-weight: 700;
  font-size: 24px;
}

.heading.bold .heading-5 {
  font-weight: 700;
  font-size: 18px;
}

.heading.bold .text {
  font-weight: 700;
}

.colores {
  display: flex;
  flex-wrap: wrap;
  padding-left: 1.5rem;
  margin-bottom: 100px;
}

.colores .card-color {
  flex-shrink: 0;
  margin-right: 1.2rem;
  width: 146px;
  margin-bottom: 1.5rem;
}

.colores .card-color .color {
  width: 100%;
  height: 146px;
  border-radius: 1rem;
}

.colores .card-color .content-color .text {
  color: #505156;
  margin-bottom: 8px;
}

.colores .card-color .content-color .h5 {
  font-weight: 700;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
  color: #505156;
}

.colores .blue {
  background-color: #344DA8;
}

.colores .blue-variant {
  background-color: #5370D4;
}

.colores .black-1 {
  background-color: #2A2B2E;
}

.colores .black-2 {
  background-color: #505156;
}

.colores .gray-1 {
  background-color: #AFB1BD;
}

.colores .gray-2 {
  background-color: #F0F1FA;
}

.colores .white {
  border: 1px solid #505156;
}

.buttons {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-bottom: 100px;
}

.buttons .button-primary {
  margin-right: 1.2rem;
  margin-bottom: 1rem;
}

.inputs {
  margin-bottom: 100px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .inputs {
    flex-direction: column;
  }
}

.input {
  width: 100%;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .input {
    width: 50%;
  }
}
/*# sourceMappingURL=components.css.map */