.wrap {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.hero {
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    .img-hero {
        order: -1;
        display: block;
        width: 100%;
    }
    .content-hero {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        .h1 {
            color: $interface-black-1;
            margin-top: 1rem;
            span {
                font-weight: 400;
                font-style: italic;
                color: $primary-blue-variant;
            }
        }
    }
    @media screen and (min-width: $medium){
        flex-direction: row;
        align-items: center;
        .img-hero {
            order: 1;
            width: 50%;
        }
    }
    @media screen and (min-width: $extra-large){
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        .content-hero {
            .h1 {
                font-size: 60px;
            }
        }
    }
    @media screen and (min-width: $extra-extra-large){
        .img-hero {
            width: 60%;
        }
    }
}
.cards-details-container {
    display: flex;
    overflow-x: scroll;
    padding: 2rem 1.5rem;
    max-width: 1440px;
    margin-bottom: 100px;
    .card-details {
        flex-shrink: 0;
        padding: 1rem;
        box-shadow: 0 4px 24px rgba(0,0,0,0.1);
        margin-right: 1.2rem;
        width: 229px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 0.5rem;
        .img-card-details {
            width: 100px;
        }
        .title-card-details {
            color: $interface-black-1;
            font-size: 1.5rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        .paragraph-details {
            color: $interface-black-2;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    @media screen and (min-width: $extra-extra-large) {
        margin-left: auto;
        margin-right: auto;
        overflow-x: auto;
        justify-content: center;
    }
}
.section-travel {
    margin-bottom: 100px;
    .img-section-travel {
        display: block;
        width: 100%;
    }
    .text-section-travel {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.3em;
        color: $interface-black-1;
        span {
            font-weight: 400;
            font-style: italic;
        }
    }
    @media  screen and (min-width: $large) {
        display: flex;
        max-width: 954px;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: space-between;
        .img-section-travel {
            width: 345px; 
        }
        .text-section-travel {
            font-size: 32px;
            width: 466px;
        }
    }
}
.cards-travels {
    padding: 2rem 1.5rem;
    display: flex;
    overflow-x: scroll;
    max-width: 1440px;
    margin-bottom: 100px;
    .card-travel {
        flex-shrink: 0;
        width: 229px;
        margin-right: 1.2rem;
        border-radius: 0.5rem;
        background-color: $interface-white;
        overflow: hidden;
        box-shadow: 0 4px 24px rgba(0,0,0,0.1);
        .img-card-travel {
            display: block;
            width: 100%;
        }
        .content-card-travel {
            padding-left: 1rem;
            padding-right: 1rem;
            padding-bottom: 1rem;
            .category {
                margin-bottom: 0;
                color: $primary-blue-variant;
            }
            .title-card-travel {
                margin-top: 0;
                margin-bottom: 1rem;
                color: $interface-black-1;
            }
            .description-card-travel {
                color: $interface-black-2;
            }
        }
    }
    @media screen and (min-width: $extra-large) {
        overflow-x: auto;
        justify-content: center;
    }
}
.section-contact {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    .img-section-contact {
        order: -1;
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }
    .form-container {
        .title-form {
            font-size: 1.5rem;
            text-align: center;
            margin-top: 0;
        }
        .form-contact {
            max-width: 466px;
            display: flex;
            flex-direction: column;
            .button-primary {
                border: none;
            }
            .message {
                height: 100px;
            }
        }
        .form-contact > * {
            margin-bottom: 1rem;
        }
    }
    @media screen and (min-width: $small){
        .form-container {
            width: 466px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    @media screen and (min-width: $large) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 953px;
        margin-right: auto;
        margin-left: auto;
        .img-section-contact {
            width: 345px;
            order: 1;
        }
        .form-container {
            margin-right: 0;
            margin-left: 0;
        }
    }
}