/* colors */
$primary-blue: #344DA8;
$primary-blue-variant: #5370D4;
$interface-black-1: #2A2B2E;
$interface-black-2: #505156;
$interface-gray-1: #AFB1BD;
$interface-gray-2: #F0F1FA;
$interface-white: #FFFFFF;
